# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
InfectStatistic-example.iml

221701139/src/argument
221701139/src/command
221701139/src/log
221701139/src/reg
221701139/src/test
